.Image-Container{
    display: grid;
    justify-content: center;
    color: #fff;
    justify-items: center;
    img{
        height: 8.2rem;
        width: 7.8rem;
        object-fit: cover;
        border-radius: 50%;
        background-color: #fff;
        padding: .1rem;
    }

}
